
<mat-toolbar >

  <div class="secondtitle">Asset Management System</div>
      
</mat-toolbar>
<!-- <div class = "side-contain"> -->
<mat-drawer-container class="sidenav-container">
  
  <mat-drawer mode="side" opened class="sidenav">
    <!-- <mat-drawer-content> -->
    <mat-nav-list class="list">
      
      <a mat-list-item routerLink="dashboard" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>

      <a mat-list-item  routerLink="assets" routerLinkActive="active-link">
        <mat-icon>inventory</mat-icon>
        My Assets
      </a>

      <a mat-list-item routerLink="addAsset" routerLinkActive="active-link">
        <mat-icon>add-box</mat-icon>
        Add Asset
      </a>
      <!-- <a mat-list-item routerLink="assetdetail" routerLinkActive="active-link">
        <mat-icon>build</mat-icon>
        Asset Details
      </a> -->
      <span *ngIf="isadmin()">
        <a mat-list-item routerLink="register" routerLinkActive="active-link">
        <mat-icon>person_add</mat-icon>
        Register User
      </a>
      </span> 
      
      <span *ngIf="isadmin()">
      <a mat-list-item routerLink="categoryConfig" routerLinkActive="active-link">
        <mat-icon>add</mat-icon>
         Category Config
      </a>
      </span>
      <a mat-list-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        Log Out
      </a>
    </mat-nav-list>
    <!-- </mat-drawer-content> -->
  </mat-drawer>
  <mat-drawer-content class = "main">
    <div class="content">
        <router-outlet class="outlet">

        </router-outlet>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
<!-- </div> -->

