<div *ngIf="view() === 'user-page'" class="User-Page" >
    <div>
        <h1 class="page-title">User Management</h1>
        <div>
            <p class="welcome">View and manage users</p>
        </div>
        <div style="margin-left: 10px;">
        <button mat-raised-button class="add-user-btn" (click)="NewUser()">
                <mat-icon>account_box</mat-icon>New User
        </button></div>
    </div>

    <div class="User-Content">

        <mat-card class="table-card">
            <table mat-table [dataSource]="users()">
                <ng-container matColumnDef="id" >
                    <th mat-header-cell *matHeaderCellDef>User ID</th>
                    <td mat-cell *matCellDef="let element">{{element.id}}</td>
                </ng-container>
                
                <ng-container matColumnDef="Name" >
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="user-cell">
                            <span class="cellname">{{ element.username }}</span>
                            <span class="cellemail">{{ element.email }}</span>
                            <!-- <span class="cellemail">{{ element.email }}</span> -->
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Role">
                    <th mat-header-cell *matHeaderCellDef>Role</th>
                    <td mat-cell *matCellDef="let element" style="color:#885CF6; font-weight:500;">{{element.role}}</td>
                </ng-container>

                <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element" >
                        <button mat-icon-button (click)="viewAssets(element.id, element.username)">
                            <mat-icon style="color:blueviolet;">visibility</mat-icon>
                        </button>
                        <button mat-icon-button (click)="editUser(element)">
                            <mat-icon style="color:blueviolet;">edit</mat-icon>
                        </button>
                            
                        <button mat-icon-button (click)="deleteUser(element.id)">
                            <mat-icon style="color:red;">delete</mat-icon>
                        </button>

                        
                    </td>
                </ng-container>

                <ng-container matColumnDef="add">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" >
                        <button mat-raised-button (click)="addAsset(element.id, element.username)">
                            Add Asset
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
            </table>

            <!-- <mat-paginator
                [length]="total()"
                [pageSize]="10"
                (page)="onPageChange($event)">
            </mat-paginator> -->
        </mat-card>
        
    </div>

</div>

<span *ngIf="view() === 'asset-page'">
  <app-add-asset
    [user]="selectedUser()",
    [use_name]="selectedName()", 
    (back)="view.set('user-page')">
  </app-add-asset>
</span>
<span *ngIf="view() === 'assetlist-page'">
    <app-asset-list
        [user]="selectedUser()"
        [use_name]="selectedName()", 
        (back)="view.set('user-page')">
    </app-asset-list> 
</span>
