.DialogContent p{
  font-family: "Nunito Sans", Roboto, "Open Sans", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 280;
  font-size: 18px;
  color: #14010e;
}
.DialogTitle{
  font-family: "Nunito Sans", Roboto, "Open Sans", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 23px;
  color: rgb(71, 70, 70);
}
.full-width{
    width: 100%;
}
