
.register-page{
  width: 100%;
  min-height: 100%;
  align-content: center;
  justify-items: center;
}
.register-card{
  width: 400px;
  max-height: 100%;
  max-width: 100%
}

.register-content{
  padding: 18px;
}

.full-width-input{
  width: 100%;
}

